Source: osm-tile-server
Section: web
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: osm-tile-server
Architecture: all
Depends: ${misc:Depends}, osm-tile-server-base,
            osm-tile-server-tilelite | osm-tile-server-mod-tile
Description: Meta package for installing OSM tile server

Package: osm-tile-server-base
Architecture: all
Depends: ${misc:Depends},
        openstreetmap-carto, node-carto, osm2pgsql,
        postgis, postgresql-contrib
Description: Common files for OSM tile server

Package: osm-tile-server-config
Architecture: all
Depends: ${misc:Depends},
        osm-tile-server-base
Description: This package contains the main configuration of the OSM tile server

Package: osm-tile-server-tilelite
Architecture: all
Depends: ${misc:Depends},
         osm-tile-server-config, tilelite, screen
Breaks: osm-tile-server-mod-tile
Description: This sets up a full OSM tile server using tilelite

Package: osm-tile-server-mod-tile
Architecture: all
Depends: ${misc:Depends},
         osm-tile-server-config, apache2
#       libapache2-mod-tile
Breaks: osm-tile-server-tilelite
Description: This sets up a full OSM tile server using mod_tile
