Source: osm-tile-server
Section: web
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), po-debconf
Standards-Version: 3.9.6

Package: osm-tile-server
Architecture: all
Depends: ${misc:Depends}, osm-tile-server-base,
            osm-tile-server-tilelite
# Add other packages when ready:  | osm-tile-server-mod-tile
Description: Metapackage for installing OSM tile server
 This is a metapackage for installing the OSM tile server.

Package: osm-tile-server-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
        openstreetmap-carto, node-carto,
        postgis, postgresql-contrib, osm2pgsql, adduser,
        wget
Description: Common files for OSM tile server
 This package sets up the postgis database for OSM data.
 A few questions are asked with debconf to set it up.
 .
 You will be able to select a region to be downloaded and
 imported to the postgis database.

Package: osm-tile-server-tilelite
Architecture: all
Depends: ${misc:Depends},
         osm-tile-server-base, tilelite, screen
#Breaks: osm-tile-server-mod-tile
Description: This sets up a full OSM tile server using tilelite
 To use tilelite as the tile server, install this
 package. It will set up a service which can be automatically
 started on boot.

#Package: osm-tile-server-mod-tile
#Architecture: all
#Depends: ${misc:Depends},
#         osm-tile-server-base, apache2
#         libapache2-mod-tile
#Breaks: osm-tile-server-tilelite
#Description: This sets up a full OSM tile server using mod_tile
