[Unit]
Description=TileLite server background process
After=postgresql.service

[Service]
ExecStart=/usr/bin/screen -dmS tilelite /usr/bin/liteserv /usr/share/openstreetmap-carto/style.xml
ExecStop=/usr/bin/screen -S tilelite -X quit
User=osm
Type=forking


[Install]
WantedBy=multi-user.target
