#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_capb backup

CONFIGTYPEQUESTION=2
BACKSTATE=4
db_input high osm-tile-server/db-name || true
db_input high osm-tile-server/action-now || true
db_go

db_get osm-tile-server/action-now
DONOW=$RET
if [ "$DONOW" = "true" ] ; then
    db_set osm-tile-server/import-sample false
    db_input high osm-tile-server/continent || true
    db_go
    db_get osm-tile-server/continent
    CONTINENT=$RET
    if   [ "$CONTINENT" = "Asia" ] ; then
        db_input high osm-tile-server/country_asia || true
    elif [ "$CONTINENT" = "Europe" ] ; then
        db_input high osm-tile-server/country_europe || true
    elif [ "$CONTINENT" = "South America" ] ; then
        db_input high osm-tile-server/country_samerica || true
    elif [ "$CONTINENT" = "North America" ] ; then
        db_input high osm-tile-server/country_namerica || true
    elif [ "$CONTINENT" = "Africa" ] ; then
        db_input high osm-tile-server/country_africa || true
    elif [ "$CONTINENT" = "Australia and Oceania" ] ; then
        db_input high osm-tile-server/country_australia || true
    elif [ "$CONTINENT" = "Central America" ] ; then
        db_input high osm-tile-server/country_camerica || true
    elif [ "$CONTINENT" = "Antarctica" ] ; then
        db_input high osm-tile-server/country_antarctica || true
    fi
    db_go

    db_input high osm-tile-server/do_it_now || true
    db_go

else
    db_input high osm-tile-server/import-sample || true
    db_set osm-tile-server/download-map None
    db_go
fi

exit 0
