#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_capb backup

CONFIGTYPEQUESTION=2
BACKSTATE=4

source /etc/osm-tile-server.conf
db_set osm-tile-server/db-name $DBNAME

db_input high osm-tile-server/db-name || true
db_input low osm-tile-server/action-now || true
db_go


db_get osm-tile-server/action-now
DONOW=$RET
if [ "$DONOW" = "true" ] ; then
    db_set osm-tile-server/import-sample false
    db_input low osm-tile-server/continent || true
    db_go
    db_get osm-tile-server/continent
    #db_fset osm-tile-server/country_europe seen false
    CONTINENT=$RET
    if   [ "$CONTINENT" = "Asia" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/asia.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_asia CHOICES $CHOICES
        db_input low osm-tile-server/country_asia || true
    elif [ "$CONTINENT" = "Europe" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/europe.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_europe CHOICES $CHOICES
        db_input low osm-tile-server/country_europe || true
    elif [ "$CONTINENT" = "South America" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/south-america.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_samerica CHOICES $CHOICES
        db_input low osm-tile-server/country_samerica || true
    elif [ "$CONTINENT" = "North America" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/north-america.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_namerica CHOICES $CHOICES
        db_input low osm-tile-server/country_namerica || true
    elif [ "$CONTINENT" = "Africa" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/africa.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_africa CHOICES $CHOICES
        db_input low osm-tile-server/country_africa || true
    elif [ "$CONTINENT" = "Australia and Oceania" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/australia-oceania.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_australia CHOICES $CHOICES
        db_input low osm-tile-server/country_australia || true
    elif [ "$CONTINENT" = "Central America" ] ; then
        CHOICES=`cat /usr/share/osm-tile-server-base/regions/central-america.txt | sed ':a;N;$!ba;s/\n/, /g'`
        db_subst osm-tile-server/country_camerica CHOICES $CHOICES
        db_input low osm-tile-server/country_camerica || true
    fi
    db_go

    db_input low osm-tile-server/do_it_now || true
    db_go
    db_get osm-tile-server/do_it_now
    DONOW=$RET
    if [ "$DONOW" = "Later" ] ; then
        db_input high osm-tile-server/import-sample || true
        db_go
    fi

else
    db_input high osm-tile-server/import-sample || true
    db_set osm-tile-server/do_it_now "Later"
    db_go
fi

exit 0
