[Unit]
Description=TileLite server background process
After=postgresql.service

[Service]
ExecStart=/usr/bin/screen -dmS tilelite /usr/bin/liteserv /usr/share/openstreetmap-carto/style.xml -c --cache-path=/var/cache/osm-tile-server-tilelite
ExecStop=/usr/bin/screen -S tilelite -X quit
User=$TILELITEUSER
Type=forking


[Install]
WantedBy=multi-user.target
